* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}


.container {
  max-width: 75rem;
  width: 100%;
  padding: 4rem 2rem;
  margin: 0 auto;
}

.main .container .swiper-container .swiper-wrapper .swiper-slide .card-image {
  background: #ffffff;
  border: none;
  outline: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 2px;
}
.main .container .swiper-container .swiper-wrapper .swiper-slide .card-image img {
  display: block;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .container .swiper-container .swiper-pagination-bullet {
  opacity: 0.8;
  background: #333333;
}
.main .container .swiper-container .swiper-pagination-bullet-active {
  background: #ffffff;
}
.main .container .swiper-container .swiper-button-next,
.main .container .swiper-container .swiper-button-prev {
  background-image: none;
  background-size: 0;
  background-repeat: no-repeat;
  background-position: 0;
  margin-top: -1rem;
}
.main .container .swiper-container .swiper-button-next .arrow-icon,
.main .container .swiper-container .swiper-button-prev .arrow-icon {
  font-size: 2rem;
  color: #ffffff;
}