/*
	*****************************************************************
	*	This version is written by SMN Shuvo										
	*****************************************************************
*/
/************************************
	-------------------------[Table of contents]----------------------
	------------------------------------------------------------------

	[Let press Ctrl + f and type of paste the key, then press Enter to search the content ]
  	content / #[keyword to find]
    1. HEADER
	  	1.1 Logo
			1.1.1 Desktop Menu
			1.1.2 Mobile Menu 
      	1.2 Navigation

*************************************/

/* HEADER */
/*
 * I have used an approximate value, change it according to your need
 */

.col-2{
  align-content: left;
}


/************************************
	Logo - Desktop Menu
*************************************/
.col-2 .logo img{
  height: auto;
  width: 120px;
}
/************************************
	Logo - Mobile Menu
*************************************/
.mobile-menu_logo img{
	height: auto;
	width: 120px;
}
/************************************
	Navigation
*************************************/
#main .navigation{
  background-color: #fcfcfc;
}

