{% extends 'shop/nav_footer.html' %}
{% block body %}
    {% load static %}
    <head >
        <title >About Us</title >

    <body >
    <div id="main" >
        <header >
            <nav class="navigation d-flex align-items-center" >
                <div class="container" >
                    <div class="row" >
                        <div class="col-2" ><a class="logo" href="index.html" ><img src="{% static 'assets/images/logo.png' %}" alt="" ></a ></div >
                        <div class="col-8" >
                            <div class="navgition-menu d-flex align-items-center justify-content-center" >
                                <ul class="mb-0" >
                                    <li class="toggleable" ><a class="menu-item" href="index.html" >Home</a >
                                        <ul class="sub-menu" >
                                            <li ><a href="index.html" >Homepage 1</a ></li >
                                            <li ><a href="homepage02.html" >Homepage 2</a ></li >
                                            <li ><a href="homepage03.html" >Homepage 3</a ></li >
                                            <li ><a href="homepage04.html" >Homepage 4</a ></li >
                                            <li ><a href="homepage05.html" >Homepage 5</a ></li >
                                        </ul >
                                    </li >
                                    <li class="toggleable" ><a class="menu-item" href="shop_grid%2blist_3col.html" >Shop</a >
                                        <ul class="sub-menu shop d-flex" >
                                            <div class="nav-column" >
                                                <h2 >Layout shop</h2 >
                                                <li ><a href="shop_grid%2blist_fullwidth.html" >Shop grid fullwidth</a ></li >
                                                <li ><a href="shop_grid%2blist_fullwidth.html" >Shop list fullwidth</a ></li >
                                                <li ><a href="shop_grid%2blist_3col.html" >shop grid 3 column</a ></li >
                                                <li ><a href="shop_grid%2blist_3col.html" >shop list 3 column</a ></li >
                                            </div >
                                            <div class="nav-column" >
                                                <h2 >Detail shop</h2 >
                                                <li ><a href="shop_detail_fullwidth.html" >shop detail fullwidth</a ></li >
                                                <li ><a href="shop_detail.html" >shop detail sidebar</a ></li >
                                            </div >
                                            <div class="nav-column" >
                                                <h2 >Pages shop</h2 >
                                                <li ><a href="shop_checkout.html" >checkout</a ></li >
                                                <li ><a href="shop_order_complete.html" >order complete</a ></li >
                                                <li ><a href="shop_wishlist.html" >wishlist</a ></li >
                                                <li ><a href="shop_compare.html" >compare</a ></li >
                                                <li ><a href="shop_cart.html" >cart</a ></li >
                                            </div >
                                        </ul >
                                    </li >
                                    <li class="toggleable" ><a class="menu-item" href="blog_list_sidebar.html" >Blog</a >
                                        <ul class="sub-menu" >
                                            <li ><a href="blog_list_sidebar.html" >Blog List Sidebar</a ></li >
                                            <li ><a href="blog_grid_2col.html" >Blog Grid 2 column</a ></li >
                                            <li ><a href="blog_grid_sidebar.html" >Blog Grid sidebar</a ></li >
                                            <li ><a href="blog_masonry.html" >Blog masonry</a ></li >
                                            <li ><a href="blog_grid_1col.html" >Blog Grid 1 column sidebar</a ></li >
                                            <li ><a href="blog_detail_sidebar.html" >Blog detail sidebar</a ></li >
                                        </ul >
                                    </li >
                                    <li class="toggleable" ><a class="menu-item active" href="#" >Pages</a >
                                        <ul class="sub-menu" >
                                            <li ><a href="login.html" >login</a ></li >
                                            <li ><a href="register.html" >register</a ></li >
                                            <li ><a href="FAQ-2.html" >FAQ</a ></li >
                                            <li ><a href="coming_soon.html" >coming soon</a ></li >
                                            <li ><a href="contact_us.html" >contact us</a ></li >
                                            <li ><a href="404_error.html" >404 error</a ></li >
                                        </ul >
                                    </li >
                                    <li class="toggleable" ><a class="menu-item" href="about_us.html" >About us</a ></li >
                                </ul >
                            </div >
                        </div >
                        <div class="col-2" >
                            <div class="product-function d-flex align-items-center justify-content-end" >
                                <div id="wishlist" ><a class="function-icon icon_heart_alt" href="#" ></a ></div >
                                <div id="cart" ><a class="function-icon icon_bag_alt" href="#" ><span >$150.00</span ></a ></div >
                            </div >
                        </div >
                    </div >
                </div >
            </nav >
            <div id="mobile-menu" >
                <div class="container" >
                    <div class="row" >
                        <div class="col-3" >
                            <div class="mobile-menu_block d-flex align-items-center" ><a class="mobile-menu--control" href="#" ><i
                                    class="fas fa-bars" ></i ></a >
                                <div id="ogami-mobile-menu" >
                                    <button class="no-round-btn" id="mobile-menu--closebtn" >Close menu</button >
                                    <div class="mobile-menu_items" >
                                        <ul class="mb-0 d-flex flex-column" >
                                            <li class="toggleable" ><a class="menu-item active" href="index.html" >Home</a ><span
                                                    class="sub-menu--expander" ><i class="icon_plus" ></i ></span >
                                                <ul class="sub-menu" >
                                                    <li ><a href="index.html" >Homepage 1</a ></li >
                                                    <li ><a href="homepage02.html" >Homepage 2</a ></li >
                                                    <li ><a href="homepage03.html" >Homepage 3</a ></li >
                                                    <li ><a href="homepage04.html" >Homepage 4</a ></li >
                                                    <li ><a href="homepage05.html" >Homepage 5</a ></li >
                                                </ul >
                                            </li >
                                            <li class="toggleable" ><a class="menu-item" href="shop_grid%2blist_3col.html" >Shop</a ><span
                                                    class="sub-menu--expander" ><i class="icon_plus" ></i ></span >
                                                <ul class="sub-menu" >
                                                    <li ><a href="shop_grid%2blist_fullwidth.html" >Shop grid fullwidth</a ></li >
                                                    <li ><a href="shop_grid%2blist_fullwidth.html" >Shop list fullwidth</a ></li >
                                                    <li ><a href="shop_grid%2blist_3col.html" >shop grid 3 column</a ></li >
                                                    <li ><a href="shop_grid%2blist_3col.html" >shop list 3 column</a ></li >
                                                    <li ><a href="shop_detail.html" >shop detail</a ></li >
                                                    <li ><a href="shop_detail_fullwidth.html" >shop detail fullwidth</a ></li >
                                                    <li ><a href="shop_checkout.html" >checkout</a ></li >
                                                    <li ><a href="shop_order_complete.html" >order complete</a ></li >
                                                    <li ><a href="shop_wishlist.html" >wishlist</a ></li >
                                                    <li ><a href="shop_compare.html" >compare</a ></li >
                                                    <li ><a href="shop_cart.html" >cart</a ></li >
                                                </ul >
                                            </li >
                                            <li class="toggleable" ><a class="menu-item" href="blog_list_sidebar.html" >Blog</a ><span
                                                    class="sub-menu--expander" ><i class="icon_plus" ></i ></span >
                                                <ul class="sub-menu" >
                                                    <li ><a href="blog_list_sidebar.html" >Blog List Sidebar</a ></li >
                                                    <li ><a href="blog_grid_2col.html" >Blog Grid 2 column</a ></li >
                                                    <li ><a href="blog_grid_sidebar.html" >Blog Grid sidebar</a ></li >
                                                    <li ><a href="blog_masonry.html" >Blog masonry</a ></li >
                                                    <li ><a href="blog_grid_1col.html" >Blog Grid 1 column sidebar</a ></li >
                                                    <li ><a href="blog_detail_sidebar.html" >Blog detail sidebar</a ></li >
                                                </ul >
                                            </li >
                                            <li class="toggleable" ><a class="menu-item" href="#" >Pages</a ><span class="sub-menu--expander" ><i
                                                    class="icon_plus" ></i ></span >
                                                <ul class="sub-menu" >
                                                    <li ><a href="login.html" >login</a ></li >
                                                    <li ><a href="register.html" >register</a ></li >
                                                    <li ><a href="faq.html" >FAQ</a ></li >
                                                    <li ><a href="coming_soon.html" >coming soon</a ></li >
                                                    <li ><a href="about_us.html" >about us</a ></li >
                                                    <li ><a href="contact_us.html" >contact us</a ></li >
                                                    <li ><a href="404_error.html" >404 error</a ></li >
                                                </ul >
                                            </li >
                                        </ul >
                                    </div >
                                    <div class="mobile-login" >
                                        <h2 >My account</h2 ><a href="login.html" >Login</a ><a href="register.html" >Register</a >
                                    </div >
                                    <div class="mobile-social" ><a href="#" ><i class="fab fa-facebook-f" > </i ></a ><a href="#" ><i
                                            class="fab fa-twitter" ></i ></a ><a href="#" ><i class="fab fa-invision" > </i ></a ><a href="#" ><i
                                            class="fab fa-pinterest-p" > </i ></a ></div >
                                </div >
                                <div class="ogamin-mobile-menu_bg" ></div >
                            </div >
                        </div >
                        <div class="col-6" >
                            <div class="mobile-menu_logo text-center d-flex justify-content-center align-items-center" ><a href="#" ><img
                                    src="{% static 'assets/images/logo.png' %}" alt="" ></a ></div >
                        </div >
                        <div class="col-3" >
                            <div class="mobile-product_function d-flex align-items-center justify-content-end" ><a
                                    class="function-icon icon_heart_alt" href="wishlist.html" ></a ><a class="function-icon icon_bag_alt"
                                                                                                       href="shop_cart.html" ></a ></div >
                        </div >
                    </div >
                </div >
            </div >
            <div class="navigation-filter" >
                <div class="container" >
                    <div class="row" >
                        <div class="col-12 col-md-4 col-lg-4 col-xl-3 order-2 order-md-1" >
                            <div class="department-menu_block" >
                                <div class="department-menu d-flex justify-content-between align-items-center" ><i class="fas fa-bars" ></i >All
                                                                                                                                             departments<span ><i
                                            class="arrow_carrot-down" ></i ></span ></div >
                                <div class="department-dropdown-menu" >
                                    <ul >
                                        <!-- Nested div for requirement -->
                                        <div class="vertical-nav" >
                                            {% for cat in categories %}
                                                <li ><a href="" ><i
                                                        class="icon-{{ forloop.counter }}" ></i >{{ cat.category_name }}</a >
                                                    <i class="fa fa-chevron-right float-right" aria-hidden="true" ></i >
                                                    {% if cat.subcategory_set.count     > 0 %}
                                                        <ul class="sub-menu" >
                                                            {% for subcat in cat.subcategory_set.all %}
                                                                <li ><a href="{{ subcat.get_absolute_url }}" > <i
                                                                        class="icon-2" ></i >{{ subcat.sub_category_name }}</a ></li >
                                                            {% endfor %}
                                                        </ul >
                                                    {% endif %}
                                                </li >
                                            {% endfor %}
                                        </div >
                                    </ul >
                                </div >
                            </div >
                        </div >
                        <div class="col-12 col-md-8 col-lg-8 col-xl-9 order-1 order-md-2" >
                            <div class="website-search" >
                                <div class="row no-gutters" >
                                    <div class="col-0 col-md-0 col-lg-4 col-xl-3" >
                                        <div class="filter-search" >
                                            <div class="categories-select d-flex align-items-center justify-content-around" >
                                                <span >All Categories</span ><i class="arrow_carrot-down" ></i ></div >
                                            <div class="categories-select_box" >
                                                <ul >
                                                    <li >Fruit & Nut Gifts</li >
                                                    <li >Fresh Berries</li >
                                                    <li >Ocean Foods</li >
                                                    <li >Butter & Eggs</li >
                                                    <li >Ocean Foods</li >
                                                </ul >
                                            </div >
                                        </div >
                                    </div >
                                    <div class="col-8 col-md-8 col-lg-5 col-xl-7" >
                                        <div class="search-input" >
                                            <input class="no-round-input no-border" type="text" placeholder="What do you need" >
                                        </div >
                                    </div >
                                    <div class="col-4 col-md-4 col-lg-3 col-xl-2" >
                                        <button class="no-round-btn" >Search</button >
                                    </div >
                                </div >
                            </div >
                        </div >
                    </div >
                </div >
            </div >
        </header >
        <!-- End header-->
        <div class="ogami-breadcrumb" >
            <div class="container" >
                <ul >
                    <li ><a class="breadcrumb-link" href="index.html" > <i class="fas fa-home" ></i >Home</a ></li >
                    <li ><a class="breadcrumb-link active" href="#" >About us</a ></li >
                </ul >
            </div >
        </div >
        <!-- End breadcrumb-->
        <div class="about-us" >
            <div class="container" >
                <div class="our-story" >
                    <div class="row" >
                        <div class="col-12 col-md-6" >
                            <div class="our-story_text" >
                                <h1 class="title green-underline" >The Story About Us</h1 >
                                <p >
                                    Somikoron is an e-commerce site where you can explore variety of products; from groceries to your basic needs with
                                    lots of option for each product. We are always in the process of learning and progressing.
                                </p >
                                <p >We are guided by three principles: customer obsession rather than competitor focus, commitment to operational
                                    excellence and long-term thinking.
                                </p >
                            </div >
                        </div >
                        <div class="col-12 col-md-6" >
                            <div class="our-story_video" ><img style="width: 500px; height: 350px" src="{% static 'assets/images/Goru-ad.jpg' %}" alt="play video" ><a
                                    class="play-btn" href="https://www.youtube.com/watch?v=7e90gBu4pas" target="_blank" ><i class="fas fa-play" ></i ></a >
                            </div >
                        </div >
                    </div >
                </div >
                <div class="our-number" >
                    <div class="row" >
                        <div class="col-md-4" >
                            <div class="our-number_block" >
                                <div class="our-number_icon" ><img src="{% static 'assets/images/pages/about_us_icon_1.png' %}" alt="icon" ></div >
                                <div class="our-number_info" >
                                    <h1 class="nummber-increase" ><span class="numscroller" data-min="1" data-max="100" data-delay="5"
                                                                        data-increment="10" >100</span >%</h1 >
                                    <p >Happy Clients</p >
                                </div >
                            </div >
                        </div >
                        <div class="col-md-4" >
                            <div class="our-number_block" >
                                <div class="our-number_icon" ><img src="{% static 'assets/images/pages/about_us_icon_2.png' %}" alt="icon" ></div >
                                <div class="our-number_info" >
                                    <h1 class="nummber-increase" ><span class="numscroller" data-min="1" data-max="10" data-delay="5"
                                                                        data-increment="10" >10</span ></h1 >
                                    <p >Our Team</p >
                                </div >
                            </div >
                        </div >
                        <div class="col-md-4" >
                            <div class="our-number_block" >
                                <div class="our-number_icon" ><img src="{% static 'assets/images/pages/about_us_icon_3.png' %}" alt="icon" ></div >
                                <div class="our-number_info" >
                                    <h1 class="nummber-increase" >+<span class="numscroller" data-min="1" data-max="16" data-delay="5"
                                                                          data-increment="10" >20</span ></h1 >
                                    <p >Brands</p >
                                </div >
                            </div >
                        </div >
                    </div >
                </div >
            </div >
            <div class="full-fluid" >
                <div class="why-choose-us" >
                    <div class="container" >
                        <div class="row justify-content-center" >
                            <div class="col-sm-8 col-md-4 align-self-end" >
                                <div class="wcu_img" ><img src="{% static 'assets/images/pages/wcu_img.png' %}" alt="image" ></div >
                            </div >
                            <div class="col-sm-10 col-md-8" >
                                <div class="wcu-wrapper" >
                                    <div class="row" >
                                        <div class="col-12" >
                                            <h1 class="title green-underline" >Why Choose Us</h1 >
                                        </div >
                                        <div class="col-12" >
                                            <div class="row" >
                                                <div class="col-lg-6" >
                                                    <div class="wcu-block" >
                                                        <div class="wcu_icon" >
                                                            <div class="icon-detail" ><img
                                                                    src="{% static 'assets/images/homepage01/dow_icon_3.png' %}" alt="" ></div >
                                                        </div >
                                                        <div class="wcu_intro" >
                                                            <h5 >Better product selection </h5 >
                                                            <p >We always bring the best products; our customers find the market’s best possible
                                                                purchase options in our place.
                                                            </p >
                                                        </div >
                                                    </div >
                                                </div >
                                                <div class="col-lg-6" >
                                                    <div class="wcu-block" >
                                                        <div class="wcu_icon" >
                                                            <div class="icon-detail" ><img
                                                                    src="{% static 'assets/images/homepage01/dow_icon_2.png' %}" alt="" ></div >
                                                        </div >
                                                        <div class="wcu_intro" >
                                                            <h5 >Best prices</h5 >
                                                            <p >Enjoy the best prices of the market for wide range of products.</p >
                                                        </div >
                                                    </div >
                                                </div >
                                                <div class="col-lg-6" >
                                                    <div class="wcu-block" >
                                                        <div class="wcu_icon" >
                                                            <div class="icon-detail" ><img
                                                                    src="{% static 'assets/images/homepage01/dow_icon_4.png' %}" alt="" ></div >
                                                        </div >
                                                        <div class="wcu_intro" >
                                                            <h5 >Fastest and safe delivery</h5 >
                                                            <p >Enjoy fastest and safe “same day delivery” on your doorsteps.</p >
                                                        </div >
                                                    </div >
                                                </div >
                                                <div class="col-lg-6" >
                                                    <div class="wcu-block" >
                                                        <div class="wcu_icon" >
                                                            <div class="icon-detail" ><img
                                                                    src="{% static 'assets/images/homepage01/dow_icon_1.png' %}" alt="" ></div >
                                                        </div >
                                                        <div class="wcu_intro" >
                                                            <h5 >We care: </h5 >
                                                            <p >“Customer Experience” matter the most to us. We care, we listen!! We constantly strive to know our customers better. </p >
                                                        </div >
                                                    </div >
                                                </div >
                                            </div >
                                        </div >
                                    </div >
                                </div >
                            </div >
                        </div >
                    </div >
                </div >
            </div >
{#            <div class="container" >#}
{#                <div class="our-farmer" >#}
{#                    <h1 class="title green-underline" >Our Team</h1 >#}
{#                    <div class="row text-center" style="margin-left: 180px">#}
{#                        <div class="col-sm-6 col-lg-2" >#}
{#                            <div class="our-farmer-block our-farmer-block--1" >#}
{#                                <div class="farmer-img" ><img src="{% static 'assets/images/sir.JPG' %}" alt="farmer" ></div >#}
{#                                <div class="farmer-contact_wrapper" >#}
{#                                    <div class="farmer-contact" >#}
{#                                        <h2 >Md. Shohel Arman</h2 >#}
{#                                        <h5 >CEO</h5 >#}
{#                                        <div class="farmer-social" ><a href="#" ><i class="fab fa-facebook-f" > </i ></a ><a href="#" ><i#}
{#                                                class="fab fa-twitter" ></i ></a ><a href="#" ><i class="fab fa-invision" > </i ></a ><a href="#" ><i#}
{#                                                class="fab fa-pinterest-p" ></i ></a ></div >#}
{#                                    </div >#}
{#                                </div >#}
{#                            </div >#}
{#                        </div >#}
{#                        <div class="col-sm-6 col-lg-2" >#}
{#                            <div class="our-farmer-block our-farmer-block--2" >#}
{#                                <div class="farmer-img" ><img src="{% static 'assets/images/pages/farmer_2.png' %}" alt="farmer" ></div >#}
{#                                <div class="farmer-contact_wrapper" >#}
{#                                    <div class="farmer-contact" >#}
{#                                        <h2 >Nitu Rawnak</h2 >#}
{#                                        <h5 >Managing Director</h5 >#}
{#                                        <div class="farmer-social" ><a href="#" ><i class="fab fa-facebook-f" > </i ></a ><a href="#" ><i#}
{#                                                class="fab fa-twitter" ></i ></a ><a href="#" ><i class="fab fa-invision" > </i ></a ><a href="#" ><i#}
{#                                                class="fab fa-pinterest-p" ></i ></a ></div >#}
{#                                    </div >#}
{#                                </div >#}
{#                            </div >#}
{#                        </div >#}
{#                        <div class="col-sm-6 col-lg-2" >#}
{#                            <div class="our-farmer-block our-farmer-block--3" >#}
{#                                <div class="farmer-img" ><img src="{% static 'assets/images/saleh.JPG' %}" alt="farmer" ></div >#}
{#                                <div class="farmer-contact_wrapper" >#}
{#                                    <div class="farmer-contact" >#}
{#                                        <h2 >Hafeezur Rahman Saleh</h2 >#}
{#                                        <h5 >Head of IT</h5 >#}
{#                                        <div class="farmer-social" ><a href="#" ><i class="fab fa-facebook-f" > </i ></a ><a href="#" ><i#}
{#                                                class="fab fa-twitter" ></i ></a ><a href="#" ><i class="fab fa-invision" > </i ></a ><a href="#" ><i#}
{#                                                class="fab fa-pinterest-p" ></i ></a ></div >#}
{#                                    </div >#}
{#                                </div >#}
{#                            </div >#}
{#                        </div >#}
{#                        <div class="col-sm-6 col-lg-2" >#}
{#                            <div class="our-farmer-block our-farmer-block--4" >#}
{#                                <div class="farmer-img" ><img  src="{% static 'assets/images/monzu.JPG' %}" alt="farmer" ></div >#}
{#                                <div class="farmer-contact_wrapper" >#}
{#                                    <div class="farmer-contact" >#}
{#                                        <h2 >Naziur Rahman Monzu</h2 >#}
{#                                        <h5 >Head of Operations</h5 >#}
{#                                        <div class="farmer-social" ><a href="#" ><i class="fab fa-facebook-f" > </i ></a ><a href="#" ><i#}
{#                                                class="fab fa-twitter" ></i ></a ><a href="#" ><i class="fab fa-invision" > </i ></a ><a href="#" ><i#}
{#                                                class="fab fa-pinterest-p" ></i ></a ></div >#}
{#                                    </div >#}
{#                                </div >#}
{#                            </div >#}
{#                        </div >#}
{#                        <div class="col-sm-6 col-lg-2" STYLE="text-align: center">#}
{#                            <div class="our-farmer-block our-farmer-block--4" >#}
{#                                <div class="farmer-img" ><img src="{% static 'assets/images/pages/farmer_1.png' %}" alt="farmer" ></div >#}
{#                                <div class="farmer-contact_wrapper" >#}
{#                                    <div class="farmer-contact" >#}
{#                                        <h2 >Shouman Barua Shuvo</h2 >#}
{#                                        <h5 >Head of Business Development</h5 >#}
{#                                        <div class="farmer-social" ><a href="#" ><i class="fab fa-facebook-f" > </i ></a ><a href="#" ><i#}
{#                                                class="fab fa-twitter" ></i ></a ><a href="#" ><i class="fab fa-invision" > </i ></a ><a href="#" ><i#}
{#                                                class="fab fa-pinterest-p" ></i ></a ></div >#}
{#                                    </div >#}
{#                                </div >#}
{#                            </div >#}
{#                        </div >#}
{#                    </div >#}
{#                </div >#}
{#            </div >#}
        </div >
        <!-- End about us-->
    </div>
    </body >
{% endblock %}