{% extends 'shop/nav_footer.html' %}
{% block body %}
    {% load static %}
    {% load i18n %}
        {% load account socialaccount %}
        {% load socialaccount %}
        {% providers_media_js %}
    {% load crispy_forms_tags %}

    <style type="text/css">
    #hint_id_password1{
        display: none;
    }

    </style>
    <title >{% block head_title %} {{page_title}} {% endblock %}</title >
    <div id="main" style="margin-top: 70px">

{#        <div class="ogami-breadcrumb" >#}
{#            <div class="container" >#}
{#                <ul >#}
{#                    <li ><a class="breadcrumb-link" href="index-2.html" > <i class="fas fa-home" ></i >Home</a ></li >#}
{#                    <li ><a class="breadcrumb-link active" href="#" >{% trans "LOGIN" %}</a ></li >#}
{#                </ul >#}
{#            </div >#}
{#        </div >#}
        <!-- End breadcrumb-->
        {% block content %}

            <div class="login-form" ></div >
            <style type="text/css" >
                .login-form {
                    width: 385px;
                    margin: 30px auto;
                }

                form {
                    margin-bottom: 0px;
                    background: #f7f7f7;
                    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                    padding: 0px;
                }

                .social-btn .btn {

                    width: 32%;
                }

                .social-btn .btn:hover {
                    opacity: 0.9;
                }

                .social-btn .btn-primary {
                    background: #507cc0;
                }

                .social-btn .btn-info {
                    background: #51b5e7;
                }

                .social-btn .btn-danger {
                    background: #df4930;
                }

                .or-seperator {
                    margin-top: 20px;
                    text-align: center;
                    border-top: 1px solid #ccc;
                }

                .or-seperator i {
                    padding: 0 10px;
                    background: #f7f7f7;
                    position: relative;
                    top: -11px;
                    z-index: 1;
                }
            </style >
            <div class="account " >
                <div class="container" >
                    <div class="row" >
                        <div class="col-12 col-md-6 mx-auto" >
                            {#                            {% get_providers as socialaccount_providers %}#}
                            {#                            {% if socialaccount_providers %}#}
                            {#                                <div class="socialaccount_ballot" >#}
                            {#                                    <ul class="socialaccount_providers" >#}
                            {#                                        {% include "socialaccount/snippets/provider_list.html" with process="login" %}#}
                            {#                                    </ul >#}
                            {#                                    <div class="login-or" >{% trans 'or' %}</div >#}
                            {#                                </div >#}
                            {#                                {% include "socialaccount/snippets/login_extra.html" %}#}
                            {#                            {% else %}#}
                            {#                                <p >{% blocktrans %}If you have not created an account yet, then please#}
                            {#                                    <a href="{{ signup_url }}" >sign up</a > first.{% endblocktrans %}</p >#}
                            {#                            {% endif %}#}
                            <form class="login" method="POST" action="{% url 'shop:user_login' %}" style="padding: 30px; margin-bottom: 15px">
                                <h1 class="title" >{% trans "LOGIN" %}</h1 >
                                {% csrf_token %}
                                <div>
                                    {{ form.Phone|as_crispy_field }}
                                </div>

                                <div>
                                    {{ form.Password|as_crispy_field }}
                                </div>
                                {% if redirect_field_value %}
                                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                {% endif %}
                                <div class="create-account" style="float: right;  margin-bottom: 30px" ><a class="button account-forgot "
                                                                                                      href="{% url 'account_reset_password' %}" >{% trans "Forgot Password?" %}</a >
                                </div >
                                <div class="account-function" >
                                    <button class="no-round-btn" type="submit" >{% trans "Signup " %} / {% trans "Login " %}</button >
                                    <div class="or-seperator" ><i >or</i ></div >
{#                                    <p class="text-center" >Login with your social media account</p ><br >#}
{#                                    <div class="text-center social-btn" >#}
                                        <a href='{% provider_login_url "facebook" method="oauth2" %}'  class="btn btn-primary" ><i class="social_facebook" ></i >&nbsp;Login with Facebook</a >
{#                                        <a href="#" class="btn btn-info" ><i class="social_twitter" ></i >&nbsp; Twitter</a >#}
{#                                        <a href="#" class="btn btn-danger" ><i class="social_googleplus" ></i >&nbsp; Google</a >#}
{#                                    </div >#}
                                    <br >
{#                                    <a class="create-account" href="{{ signup_url }}" >Or create an account</a >#}
                                </div >
                            </form >
                        </div >
                    </div >
                </div >
            </div >
            </div >
            <!-- End account-->

        {% endblock %}
    </div >

{% endblock %}