
{% load static %}

    <<!-- Modal -->
<div class="modal fade" id="quickViewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document" >
        <div class="modal-content" >
            <div class="modal-header" style="text-align: center; padding: 5px" >
                <h6 class="modal-title" id="exampleModalLongTitle" style="text-align: center; padding-left: 45%" >Brahman Bull-051</h6 >
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-left: 0px" >
                    <span aria-hidden="true" >&times;</span >
                </button >
            </div >
            <div class="modal-body" >
                <div class="shop-detail" >
                    <div class="row" >
                        <div class="col-12 col-lg-6" >
                            <script src="{% static 'assets/jquery/jquery.min.js' %}" ></script >
                            <div class="shop-detail_img" >
                                <button class="round-icon-btn" id="zoom-btn" ><i class="icon_zoom-in_alt" ></i ></button >
                                <div class="big-img" >
                                    {#                                    {% for  image in object.item.images.all %}#}
                                    <div class="big-img_block" ><img src="{% static 'assets/images/special_offer/c9.jpg' %}" alt="product image" >
                                    </div >
                                    <div class="big-img_block" ><img src="{% static 'assets/images/shop/zoom_img_2.png' %}" alt="product image" >
                                    </div >
                                    <div class="big-img_block" ><img src="{% static 'assets/images/shop/zoom_img_3.png' %}" alt="product image" >
                                    </div >
                                    {#                                    {% endfor %}#}
                                </div >
                                <div class="slide-img" >
                                    {#                                    {% for  image in object.item.images.all %}#}
                                    <div class="slide-img_block" ><img src="{% static 'assets/images/special_offer/c9.jpg' %}" alt="product image" >
                                    </div >
                                    <div class="slide-img_block" ><img src="{% static 'assets/images/shop/zoom_img_2.png' %}" alt="product image" >
                                    </div >
                                    <div class="slide-img_block" ><img src="{% static 'assets/images/shop/zoom_img_3.png' %}" alt="product image" >
                                    </div >
                                    {#                                    {% endfor %}#}
                                </div >
                            </div >
                            <div class="img_control" ></div >
                        </div >
                        <div class="col-12 col-lg-6" >
                            <div class="shop-detail_info " >
                                {#                                <h5 class="product-type color-type" >Oranges</h5 >#}
                                {#                                <h2 class="product-name" >{{ object.item.title }}</h2 >#}
                                {#                                <p class="product-describe" >{{ object.item.description|truncatewords:25 }} <a class="product-more"#}
                                {#                                                                                                               href="#tab-1" >View more <i#}
                                {#                                        class="arrow_carrot-2right" ></i ></a ></p >#}
                                <p class="delivery-status" >Free delivery</p >
                                <div >
                                    <ul >
                                        <li >&bull; Color : Black, White, KABARI</li >
                                        <li >&bull; Other name : Bulls, Cow, HEIFER</li >
                                        <li >&bull; Height : 0-5ft, 5.5ft</li >
                                        <li >&bull; Type : Cattles, GIR COW</li >
                                        <li >&bull; Application : Dairy Use, Farming Use, BREEDING</li >
                                        <li >&bull; Feature : 10-16 LITER/ DAY</li >
                                        <li >&bull; Breed : GIR</li >
                                        <br >
                                        <li ><b >Owner : Sadeeq Agro</b ></li >
                                        <li ><b >Contact : 017070707070</b ></li >
                                    </ul >
                                </div >
                                <div class="price-rate" >
                                    <h3 class="product-price" >
                                        <del >$35.00</del >
                                        $14.00
                                    </h3 >
                                    <h5 class="product-rated" ><i class="icon_star" ></i ><i class="icon_star" ></i ><i
                                            class="icon_star" ></i ><i class="icon_star" ></i ><i
                                            class="icon_star-half" ></i ><span >(15)</span ></h5 >
                                </div >
                                <div class="color-select" >
                                    <h5 >Select Color:</h5 ><a class="color bg-danger" href="#" ></a ><a class="color bg-success"
                                                                                                         href="#" ></a ><a
                                        class="color bg-info" href="#" ></a >
                                </div >
                                <div class="quantity-select" style="margin-bottom: 20px" >
                                    <label for="quantity" >Quatity:</label >
                                    <input class="no-round-input" id="quantity" type="number" min="0" value="1" >{{ object.unit }}
                                </div >
                                <div class="product-select" style="text-align: center" >
                                    <a class="add-to-cart normal-btn outline" href="{{ object.item.get_add_to_cart_url }}" style="width: 100%" >Add to
                                                                                                                                                Cart</a >
                                    {#                                    <br ><a href="{{ object.item.get_remove_from_cart_url }}" > remove</a >#}
                                </div >
                            </div >
                        </div >
                    </div >
                </div >
            </div >
            <div class="modal-footer" style="padding: 7px" >
                <div class="product-share text-left" style="float: left; width: 85%" >
                    <span >Share link:</span >&nbsp; &nbsp;
                    <a href="#" ><i class="fab fa-facebook-f" > </i ></a >&nbsp;&nbsp;
                    <a href="#" ><i class="fab fa-twitter" ></i ></a >&nbsp;&nbsp;
                    <a href="#" ><i class="fab fa-invision" > </i ></a >&nbsp;&nbsp;
                    <a href="#" ><i class="fab fa-pinterest-p" ></i ></a >&nbsp;&nbsp;
                </div >
                <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button >
                {#                <button type="button" class="btn btn-primary" >Save changes</button >#}
            </div >
        </div >
    </div >
</div >

